@import "../tokens/spaceToken";

%normal-button {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.7;
  font-weight: 400;
  padding: $SPACE-MICRO $SPACE-LARGE;
  max-width: 118px;
  border-radius: 5px;
  cursor: pointer;
  @extend %hover-animation;
}

%small-button {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.9;
  font-weight: 400;
  padding: $SPACE-NANO $SPACE-MICRO;
  max-width: 118px;
  border-radius: 5px;
  cursor: pointer;
  @extend %hover-animation;
}

%shadow--lg {
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.15);
}

%hover-animation {
  transition-property: all;
  transition-duration: 100ms;
}