$H1-FONT-FAMILY: 'Helvetica Neue';
$H1-FONT-SIZE: 36.00px;
$H1-FONT-WEIGHT: 700;
$H1-LETTER-SPACING: 0.50px;
$H1-LINE-HEIGHT: 54.00px;
$H2-FONT-FAMILY: 'Helvetica Neue';
$H2-FONT-SIZE: 28.00px;
$H2-FONT-WEIGHT: 700;
$H2-LETTER-SPACING: 0.50px;
$H2-LINE-HEIGHT: 42.00px;
$H3-FONT-FAMILY: 'Helvetica Neue';
$H3-FONT-SIZE: 20.00px;
$H3-FONT-WEIGHT: 500;
$H3-LETTER-SPACING: 0.30px;
$H3-LINE-HEIGHT: 30.00px;
$H4-FONT-FAMILY: 'Helvetica Neue';
$H4-FONT-SIZE: 18.00px;
$H4-FONT-WEIGHT: 500;
$H4-LETTER-SPACING: 0.20px;
$H4-LINE-HEIGHT: 27.00px;
$P-FONT-FAMILY: 'Helvetica Neue';
$P-FONT-SIZE: 16.00px;
$P-FONT-WEIGHT: 400;
$P-LETTER-SPACING: 0.00px;
$P-LINE-HEIGHT: 23.00px;
$LABEL-FONT-FAMILY: 'Helvetica Neue';
$LABEL-FONT-SIZE: 18.00px;
$LABEL-FONT-WEIGHT: 400;
$LABEL-LETTER-SPACING: 0.70px;
$LABEL-LINE-HEIGHT: 18.00px;
$SPAN-FONT-FAMILY: 'Helvetica Neue';
$SPAN-FONT-SIZE: 12.00px;
$SPAN-FONT-WEIGHT: 400;
$SPAN-LETTER-SPACING: 0.90px;
$SPAN-LINE-HEIGHT: 12.00px;