@mixin badge-factory($color) {
  .badge-#{$color} {
    background: #{$color};
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.9;
    font-weight: 400;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    max-width: 80px;
    border-radius: 5px;
  }
}