@import 'tokens/main';
@import 'utils/partials';

h1,
h2,
h3,
h4,
label,
span,
p,
li,
ul,
ol {
  color: $NEUTRAL-PRIMARY;
}

h1,
.h1 {
  @extend %h1;
}

h2,
.h2 {
  @extend %h2;
}

h3,
.h3 {
  @extend %h3;
}

h4,
.h4 {
  @extend %h4;
}

p,
.para {
  @extend %p;
}

span,
.span {
  @extend %span;
}

label,
.label {
  @extend %label;
}

ul,
ol {
  padding-left: $SPACE-NORMAL;
  margin-top: $SPACE-NANO;
}

ul {
  &:nth-child(n+1) li {
    list-style-type: none;

    &::before {
      display: inline-block;
      position: relative;
      content: '';
      background-color: $YELLOW-PRIMARY;
      width: 8px;
      height: 3px;
      left: -6px;
      top: -3px;
    }
  }

  &:nth-child(n+2) li {
    list-style-type: none;

    &::before {
      display: inline-block;
      position: relative;
      content: '';
      background-color: $NEUTRAL-ACCENT-1;
      width: 8px;
      height: 3px;
      left: -6px;
      top: -3px;
    }
  }
}

ol {
  list-style-type: none;
  counter-reset: lustigt-counter;

  &:nth-child(n+1) li {

    &::before {
      counter-increment: lustigt-counter;
      content: ""counter(lustigt-counter) ". ";
      color: $YELLOW-PRIMARY;
      padding-right: 5px;
    }
  }

  &:nth-child(n+2) li {
    &::before {
      counter-increment: lustigt-counter;
      content: ""counter(lustigt-counter) ". ";
      padding-right: 5px;
      color: $NEUTRAL-ACCENT-1;
    }
  }
}

p:last-of-type,
.para:last-of-type,
ul:last-of-type,
ol:last-of-type {
  margin-bottom: $SPACE-NORMAL;
}